<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm good with new technology and figuring out how things work. I admire ideas and love to explain mine to people who have 
      an ear to listen.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen,</strong>
      I'm probably reading a book, walking around while listening to music, or watching a movie.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
